extends base

block append head
  script(src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js')
  link(href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet')

block content
  section.sendero-wrapper(data-sendero-id=`${sendero.id}`)
    .hero
      img.hero__image(src=`/img/senderos/${sendero.image}` alt=`${sendero.name} Image`)
    
    .sendero-container.container
      .sendero-hero
        h1.sendero-hero__title= sendero.name
        .sendero-hero__data
          .sendero-hero__data--rating
            - let startsRating
            - let rating
            if sendero.gradeQuantity != 0
              - startsRating = `${(sendero.gradeAverage / 5) * 100}%`
              - rating = sendero.gradeAverage
            else
              - startsRating = '0%'
              - rating = '---'
            .reviews-avg-n= `${rating} (${sendero.gradeQuantity})`
            .reviews-avg
              .empty-stars
              .full-stars(style=`width: ${startsRating}`)
          
          .sendero-hero__data--book
            .sendero-hero__data--book-price= `${sendero.price}€`
            a.book-button(href="")  Reservar
      
      .sendero-content
        h2.sendero-content__about Acerca de la ruta
        .sendero-content__desc
          .sendero-content__desc--description !{sendero.description}
          .sendero-content__desc--details
            .sendero-content__desc--details-w
              if sendero.difficulty == 'dificil'
                - dif = 'Difícil'
              if sendero.difficulty == 'medio'
                - dif = 'Medio'
              if sendero.difficulty == 'facil'
                - dif = 'Fácil'
              .sendero-content__desc--details-w-difficulty Dificultad : 
                span(class=`${sendero.difficulty}`)= dif

              - let monthsES = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
              - let weeDaysES = ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado']
              - let senderoDate = new Date(sendero.startDate)
              .sendero-content__desc--details-w-location= sendero.mainLocation
              .sendero-content__desc--details-w-date= `${weeDaysES[senderoDate.getDay()]} ${senderoDate.getDate()} de ${monthsES[senderoDate.getMonth()]} de ${senderoDate.getFullYear()}, ${senderoDate.toLocaleTimeString('es-ES')}`
              .sendero-content__desc--details-w-duration= `${sendero.duration} horas`
            .sendero-content__desc--details-map
              a.go-to-map(href="#tfg-map")  Ver Mapa
            
            if usuario
              .add-review(data-user-id=`${usuario.id}`) Añade una valoración
      
      - let singleStarRating = ''
      if (sendero.reviews)
        .sendero-reviews
          each review in sendero.reviews
            - singleStarRating = `${(review.rating / 5) * 100}`
            .sendero-reviews__single-review
              .sendero-reviews__single-review--user
                img.user-img(src='/img/usuarios/usuario.png' alt='Foto de perfil de Usuario')
                .user-name= review.usuario.name
              p.sendero-reviews__single-review--rev= review.review
              .sendero-reviews__single-review--rating
                .reviews-avg
                  .empty-stars
                  .full-stars(style=`width: ${singleStarRating}%`)
      
      .sendero-map
        #tfg-map(data-locations=`${JSON.stringify(sendero.routeLocations)}`)
      
      .sendero-book
        a.book-button(href="") Reservar